<html class="WF rtl rtl_in">
	<head>
								<meta charset="utf-8">
<title>رزومه سروش صفري</title>
<meta property="main_url"               content="https://atbox.io">
<meta http-equiv="X-UA-Compatible"      content="IE=edge">
<meta name="viewport"                   content="">
<meta name="at_token"                   content="unLqbPRmHOunqFqOpVhUYENgsparGidLfXbBxRqy">

	<link rel="stylesheet" media="screen" type="text/css" href="https://atbox.io/a/output/version/M692/2016/css/public.css">
	<link rel="stylesheet" media="screen" type="text/css" href="https://atbox.io/a/output/version/M692/2016/css/resume-preview.css">

	<meta name="apple-mobile-web-app-title" content="Atbox">
	<meta name="application-name"           content="Atbox">
	
			<style media="print" type="text/css">header,.mdl,.breadcrumb,.sticky_notice{display:none}</style>
							
										<link media="all" type="text/css" rel="stylesheet" href="https://atbox.io/a/output/version/M692/2016/css/pdf-public.css">
				<link media="all" type="text/css" rel="stylesheet" href="https://atbox.io/a/output/version/M692/2016/css/resume-public.css">
		<link media="all" type="text/css" rel="stylesheet" href="https://atbox.io/a/output/version/M692/css/resume-themes/theme6/style.css">
	</head>
<body>
									

					<main >
			<div id="A4" class="container  ">
			<div class="block basic " style="


">
			<a href="https://atbox.io/coci" class="pic">
			<div class="mask hexagon"></div>
			<img src="https://atbox.io/profile/thumb/pd6N3JKHpEpatDa6cQtSLjuSdRhjchGY.jpg" alt="سروش صفري">
		</a>
			<a class="name" href="https://atbox.io/coci"><h1>سروش صفري</h1></a>
			<h2>مشتاق يادگيري و يكمي پول :))</h2>
	</div>	<div class="sides">
		<div class="side_right">
			<div class="block skill other ">
							<h3 class="
								">
					مهارت&zwnj;ها
				</h3>
						<ul>
							<li>
									<span class="title">
						Swift					</span>
											<span class="bullet">
															<span class="i-hexagon on"></span>
															<span class="i-hexagon on"></span>
															<span class="i-hexagon on"></span>
																						<span class="i-hexagon off"></span>
															<span class="i-hexagon off"></span>
													</span>
																<li>
									<span class="title">
						PHP					</span>
											<span class="bullet">
															<span class="i-hexagon on"></span>
															<span class="i-hexagon on"></span>
															<span class="i-hexagon on"></span>
																						<span class="i-hexagon off"></span>
															<span class="i-hexagon off"></span>
													</span>
																<li>
									<span class="title">
						Photoshop					</span>
											<span class="bullet">
															<span class="i-hexagon on"></span>
															<span class="i-hexagon on"></span>
															<span class="i-hexagon on"></span>
																						<span class="i-hexagon off"></span>
															<span class="i-hexagon off"></span>
													</span>
																<li>
									<span class="title">
						word office					</span>
											<span class="bullet">
															<span class="i-hexagon on"></span>
															<span class="i-hexagon on"></span>
															<span class="i-hexagon on"></span>
																						<span class="i-hexagon off"></span>
															<span class="i-hexagon off"></span>
													</span>
																<li>
									<span class="title">
						Python 3					</span>
											<span class="bullet">
															<span class="i-hexagon on"></span>
															<span class="i-hexagon on"></span>
																						<span class="i-hexagon off"></span>
															<span class="i-hexagon off"></span>
															<span class="i-hexagon off"></span>
													</span>
																<li>
									<span class="title">
						CSS					</span>
											<span class="bullet">
															<span class="i-hexagon on"></span>
															<span class="i-hexagon on"></span>
																						<span class="i-hexagon off"></span>
															<span class="i-hexagon off"></span>
															<span class="i-hexagon off"></span>
													</span>
																<li>
									<span class="title">
						HTML					</span>
											<span class="bullet">
															<span class="i-hexagon on"></span>
																						<span class="i-hexagon off"></span>
															<span class="i-hexagon off"></span>
															<span class="i-hexagon off"></span>
															<span class="i-hexagon off"></span>
													</span>
														</div>
																	</div>
		<div class="side_left">
			<div class="block about ">
					<h3 class="">درباره&zwnj;ی من</h3>
				<p class="bio">از بچگي عاشق كامپيوتر بودم و نحوه كاركردش براي من جذابيت داشت به همين خاطر با توجه به رشته تحصيلي تصميم گرفتم رشته كاري ام رو عوض كنم و به پا به اين دنياي تكنولوژي بزارم . من ساكن تهران متولد ابان ١٣٧١ هستم .</p>
	</div>
						<div class="block edu ">
					<h3 class="">سوابق تحصیلی</h3>
				<ul>
					<li>
			<div class="title">
				<h4>دانشگاه ازاد اسلامشهر</h4>
									<div class="date">
																	</div>
							</div>
							<div class="details">
					<h5>معماری</h5>
					<div class="desc"></div>
				</div>
						</div>
		</div>
	</div>
	<script>
				var side_right = document.querySelector(".side_right");
		var side_left = document.querySelector(".side_left");
		if(side_right.clientHeight > side_left.clientHeight){
			side_right.className += " have_border";
		}else{
			side_left.className += " have_border";
		}
	</script>
		
							<script>
	(function(a,b,c,d,e,f,g){a.GoogleAnalyticsObject=e,a[e]=a[e]||function(){(a[e].q=a[e].q||[]).push(arguments)},a[e].l=1*new Date,f=b.createElement(c),g=b.getElementsByTagName(c)[0],f.async=1,f.src=d,g.parentNode.insertBefore(f,g)})(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-60188669-1",
			 		{ "userId": 8121591128358 }
			 	),
		ga('set', 'dimension3','user'),
					ga('set', 'dimension1',8121591128358),			ga('set', 'dimension2','free'),			ga('set', 'dimension4','fa'),			ga('set', 'dimension5','false'),			ga("send","pageview");
	</script>
</body>
</html>